.product {
  border: 1px solid rgb(185, 148, 88);
  min-height: 90vh;
  max-height: 90vh;
  max-width: 100vh;
  min-width: 90vw;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}

.description {
  text-align: justify;
  grid-column: 3/50;
  grid-row: 15/95;
}

.title {
  text-align: center;
  color: rgb(185, 148, 88);
  grid-column: 3/50;
}

.imageContainer {
  background-color: rgb(185, 148, 88);
  position: relative;
  grid-column: 55/98;
  grid-row: 5/80;
  display: grid;
}

.image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otherImagesContainer {
  grid-column: 55/98;
  grid-row: 81/90;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
  justify-content: center;
}

.otherImageSpan {
  margin: 4px;
  position: relative;
  border: 1px solid rgb(185, 148, 88);
  cursor: pointer;
}

.otherImage {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otherImageSpan:hover {
  box-shadow: 1px 1px 5px 2px rgba(185, 148, 88, 0.4);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-column: 55/98;
  grid-row: 92/98;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(185, 148, 88);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(185, 148, 88, 0.4);
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(185, 148, 88, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}
