.product {
  border: 1px solid gray;
  min-height: 90vh;
  max-height: 90vh;
  max-width: 100vh;
  min-width: 90vw;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}

.description {
  // min-width: 50vw;
  // max-width: 50vw;
  text-align: justify;
  // padding: 5vh;
  grid-column: 3/50;
  grid-row: 15/95;
}

.title {
  // min-width: 50vw;
  // max-width: 50vw;
  text-align: center;
  // padding: 5vh;
  color: rgb(185, 148, 88);
  grid-column: 3/50;
}

.image {
  border: 1px solid gray;
  // min-height: 70vh;
  // max-height: 70vh;
  // max-width: 20vw;
  // min-width: 32.5vw;
  background-color: darkslategray;
  position: relative;
  // left: 55vw;
  // top: -60vh;
  grid-column: 55/98;
  grid-row: 5/80;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // top: -57vh;
  // left: 26vw;
  grid-column: 55/98;
  grid-row: 80/95;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://images.pexels.com/photos/2166927/pexels-photo-2166927.jpeg?cs=srgb&dl=animal-aquarium-aquatic-2166927.jpg&fm=jpg)
      no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}
